/*自定义小程序主题色*/
$theme-green:#9efcb4;
$theme-gold:#f5fc9e;
$theme-yellow:#fddd8a;
$theme-red:#fd9191;
$theme-bg:#F0FFF0;
$theme-bg-linear:linear-gradient(90deg, rgba(180, 230, 180, 1) 0%, rgba(230, 255, 230, 0) 100%);
